In [1]:
import numpy as np

## 1. DataTypes & Attributes

In [5]:
# Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [6]:
type(a1)

numpy.ndarray

In [7]:
a2 = np.array([[1,2.0,3.4],
              [4,5,6.4]])
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [8]:
a2

array([[1. , 2. , 3.4],
       [4. , 5. , 6.4]])

In [9]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [10]:
a1.shape

(3,)

In [11]:
a2.shape

(2, 3)

In [12]:
a3.shape

(2, 3, 3)

In [13]:
a1.ndim, a2.ndim, a3.ndima

(1, 2, 3)

In [14]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [15]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [16]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [19]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.4
1  4.0  5.0  6.4

## 2. Creating Numpy array

Once again we create an array with Numpy.

In [20]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [22]:
sample_array.dtype

dtype('int64')

Creating an array filled with ones

In [23]:
ones = np.ones((2,3))

In [24]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [25]:
ones.dtype

dtype('float64')

In [26]:
type(ones)

numpy.ndarray

An array made of zeros

In [27]:
zeros = np.zeros( (2,3))

In [28]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

Creating a range array

In [29]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

Creating an array of random elements

In [34]:
random_array  = np.random.randint(0, 10, size=(3, 5))
random_array

array([[2, 8, 2, 1, 1],
       [6, 0, 4, 7, 2],
       [0, 8, 6, 8, 8]])

In [35]:
random_array.size

15

In [36]:
random_array.shape

(3, 5)

In [37]:
random_array_two =  np.random.random((5,3))
random_array_two

array([[0.02858579, 0.97058341, 0.18384786],
       [0.53213659, 0.32649691, 0.09868692],
       [0.34448372, 0.01948728, 0.809438  ],
       [0.4090188 , 0.98660672, 0.90671256],
       [0.40133227, 0.46241235, 0.28960676]])

In [38]:
random_array_two.shape

(5, 3)

In [39]:
random_array_3 = np.random.rand(5,3)

In [40]:
    random_array_3

array([[0.97264666, 0.64826197, 0.74666818],
       [0.1359032 , 0.5511823 , 0.88374491],
       [0.33913412, 0.73555873, 0.8687128 ],
       [0.96359408, 0.86134302, 0.70509256],
       [0.37945608, 0.24642096, 0.31793017]])

In [58]:
# Pseudo random numbers
np.random.seed(seed=999)
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[0, 5, 1],
       [8, 1, 9],
       [3, 0, 5],
       [8, 8, 0],
       [5, 2, 5]])

In [61]:
np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [57]:
random_array_4.shape

(5, 3)