In [21]:
import numpy as np

## 1. DataTypes & Attributes

In [22]:
# Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [23]:
type(a1)

numpy.ndarray

In [24]:
a2 = np.array([[1,2.0,3.4],
              [4,5,6.4]])
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [25]:
a2

array([[1. , 2. , 3.4],
       [4. , 5. , 6.4]])

In [26]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [27]:
a1.shape

(3,)

In [28]:
a2.shape

(2, 3)

In [29]:
a3.shape

(2, 3, 3)

In [30]:
#a1.ndim, a2.ndim, a3.ndima

In [31]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [32]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [33]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [34]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.4
1  4.0  5.0  6.4

## 2. Creating Numpy array

Once again we create an array with Numpy.

In [35]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [36]:
sample_array.dtype

dtype('int64')

Creating an array filled with ones

In [37]:
ones = np.ones((2,3))

In [38]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [39]:
ones.dtype

dtype('float64')

In [40]:
type(ones)

numpy.ndarray

An array made of zeros

In [41]:
zeros = np.zeros( (2,3))

In [42]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

Creating a range array

In [43]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

Creating an array of random elements

In [44]:
random_array  = np.random.randint(0, 10, size=(3, 5))
random_array

array([[4, 1, 9, 3, 6],
       [9, 1, 9, 2, 4],
       [0, 6, 3, 1, 0]])

In [45]:
random_array.size

15

In [46]:
random_array.shape

(3, 5)

In [47]:
random_array_two =  np.random.random((5,3))
random_array_two

array([[0.50721331, 0.94110619, 0.52228516],
       [0.55809595, 0.93499618, 0.48019311],
       [0.18809282, 0.03576613, 0.38675517],
       [0.05455205, 0.73791325, 0.10465938],
       [0.93789874, 0.22374431, 0.37430317]])

In [48]:
random_array_two.shape

(5, 3)

In [49]:
random_array_3 = np.random.rand(5,3)

In [50]:
    random_array_3

array([[0.80722714, 0.82972624, 0.25114919],
       [0.35376419, 0.84135547, 0.80498912],
       [0.56722488, 0.62303303, 0.95764777],
       [0.01733968, 0.60239401, 0.0455499 ],
       [0.6277137 , 0.85553462, 0.26339371]])

In [51]:
# Pseudo random numbers
np.random.seed(seed=999)
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[0, 5, 1],
       [8, 1, 9],
       [3, 0, 5],
       [8, 8, 0],
       [5, 2, 5]])

In [52]:
np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [53]:
random_array_4.shape

(5, 3)

## 3. Viewing arrays and matrices

In [55]:
np.unique(random_array_4)

array([0, 1, 2, 3, 5, 8, 9])

In [56]:
a1

array([1, 2, 3])

In [58]:
a2

array([[1. , 2. , 3.4],
       [4. , 5. , 6.4]])

In [59]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [61]:
random_array_4

array([[0, 5, 1],
       [8, 1, 9],
       [3, 0, 5],
       [8, 8, 0],
       [5, 2, 5]])

In [62]:
a1[0]

1

In [63]:
a2[0]

array([1. , 2. , 3.4])

In [64]:
a2.shape

(2, 3)

In [65]:
a3.shape

(2, 3, 3)

In [66]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [67]:
a2[1]

array([4. , 5. , 6.4])

In [68]:
a3[:]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [69]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [71]:
a4 = np.random.randint(10, size=(2,3,4,5))
a4

array([[[[3, 5, 8, 8, 7],
         [5, 0, 0, 2, 8],
         [9, 6, 4, 9, 7],
         [3, 3, 8, 3, 0]],

        [[1, 0, 0, 6, 7],
         [7, 9, 3, 0, 7],
         [7, 7, 0, 5, 4],
         [3, 1, 3, 1, 3]],

        [[4, 3, 1, 9, 5],
         [9, 1, 2, 3, 2],
         [2, 5, 7, 3, 0],
         [9, 9, 3, 4, 5]]],


       [[[3, 0, 4, 8, 6],
         [7, 2, 7, 3, 8],
         [6, 6, 5, 6, 5],
         [7, 1, 5, 4, 4]],

        [[9, 9, 0, 6, 2],
         [6, 8, 2, 4, 1],
         [6, 1, 5, 1, 6],
         [9, 8, 6, 5, 9]],

        [[7, 5, 4, 9, 6],
         [8, 1, 5, 5, 8],
         [3, 7, 7, 9, 4],
         [7, 5, 9, 6, 2]]]])

In [73]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [76]:
# Get tthe first 4 numbers of the inner most arrays
a4[:, :, :, :2]

array([[[[3, 5],
         [5, 0],
         [9, 6],
         [3, 3]],

        [[1, 0],
         [7, 9],
         [7, 7],
         [3, 1]],

        [[4, 3],
         [9, 1],
         [2, 5],
         [9, 9]]],


       [[[3, 0],
         [7, 2],
         [6, 6],
         [7, 1]],

        [[9, 9],
         [6, 8],
         [6, 1],
         [9, 8]],

        [[7, 5],
         [8, 1],
         [3, 7],
         [7, 5]]]])